<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><Dashboard - smallCashPro></title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>	
</head>
<body>
	<div class="dashboard">
		<div class="summary">
			<div class="summary-items" id="total-loans">
				<h2>Total Loans</h2>
				<p>{{ total_loans }}</p>
			</div>
			<div class="summary-items" id="outstanding-amount">
				<h2>Outstanding Amount</h2>
				<p>{{ outstanding_amount }}</p>
			</div>
			<div class="summary-item" id="pending-applications">
				<h2>Pending Applications</h2>
				<p>{{ pending_applications }}</p>
			</div>
		</div>

		<div class="main-content">
			<div class="chart-container">
				<canvas id="doughnutChart">
			</div>
			<div class="payments-due">
				<h3>Payments Due</h3>
				<table>
					<tbody>
						{% for payment in payments_due %}
						<tr>
							<td>{{ payment.date.strftime('%Y-%m-%d') }}</td>
							<td>{{ payment.loan_type }}</td>
							<td>{{ payment.amount }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
