<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Redirecting...</title>
		<style>
			.flash-message {
				 padding: 15px;
				 margin: 10;
				 border: 1px solid transparent;
				 border-radius: 4px;
				 text-align: center;
			}
			.flash-success {
				color: #3c763d;
				background-color: #dff0d8;
				border-color: #d6e9c6;
			}
			.flash-error {
				color: #a94442;
				background-color: #f2dede;
				border-color: #ebccd1;
			}
			
			body {
				margin: 0;
				font-family: Arial, sans-serif;
				background: #556b2f;
			}
		</style>
		 <script type="text/javascript">
			 function delayedRedirect() {
				 setTimeout(function() {
					 window.location.href = "{{ url_for('home') }}";
				 }, 3000);
			 }
		 </script>
	</head>
<body onload="delayedRedirect()">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				<div>
					{% for category, message in messages %}
						<div class="flash-message flash-{{ category }}">{{ message }}</div>
					{% endfor %}
				</div>
				{% endif %}
			{% endwith %}
			<p>Redirecting to home page in 3 seconds...</p>
</body>
</html>
