<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scle=1.0">
	<title>smallCashPro</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<div class="login-container">
		<div class="logo">
			<img src="{{ url_for('static', filename='images/lend_money.jpg') }}" alt="Finance logo" style="width: 150px; height: auto;">
			<h2 class="brand-name">smallCashPro</h2>
		</div>
		<form action="/signup" method="POST">
			<div class="form-group">
				<label for="email">Email:</label>
				<div class="input-icon">
					<i class="fas fa-envelope"></i>
					<input type="email" id="email" name="email" required>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<div class="input-icon">
					<i class="fas fa-lock"></i>
					<input type="password" id="password" name="password" required>
				</div>
			</div>
			<div class="form-group">
				<label for="confirm">Confirm Password</label>
				<div class="input-icon">
					<i class="fas fa-lock"></i>
					<input type="password" id="confirm" name="confirm" required>
				</div>
			</div>
			<button type="submit">Sign Up</button>
		</form>
		<div class="extra-links">
			<a href="/login">Already a member? Login</a>
		</div>
	</div>
</body>
</html>
